<!--prettier-ignore-->
{% extends 'base.html' %}
{%block content %}
<h1>PARTICIPANTS</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope ="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <!--prettier-ignore-->
    {% for i in participants %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td style="max-width: 300px">{{i.name}}</td>
      <td> <a
        href="/participants/{{i.email}}"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        >Details</a></td>
    </tr>
    <!--prettier-ignore-->
    {% endfor %}
  </tbody>
</table>

<!--prettier-ignore-->
{% endblock content %}